In [ ]:
trade_logs=[100,'BTC', 1.2,True]        #heterogeneous list
#  print(trade_logs)
trade_logs

[100, 'BTC', 1.2, True]

In [4]:
print(id(trade_logs))
print("\n\n")
for i in trade_logs:
    print(id(i))

2324091243648



140736528113544
2324091175664
2324090491056
140736526641728

In [5]:
for i in range(0,len(trade_logs)):
    print(id(trade_logs[i]))

140736528113544
2324091175664
2324090491056
140736526641728

In [ ]:
trade_logs=[100, -50, 200, -150, 300, -100]     #homogenous list of integers
for i in range(0,len(trade_logs)):
    print(id(trade_logs[i]))

140736528113544
2324090492880
140736528116744
2324090492592
2324090494000
2324090495184

In [7]:
trade_logs=[[100, -50, 200, -150, 300, -100],'BTC', 1.2,True]
for i in range(0,len(trade_logs)):
    print(trade_logs[i], end="  ")
    print(id(trade_logs[i]))

[100, -50, 200, -150, 300, -100]  2324090078656
BTC  2324091175664
1.2  2324062797104
True  140736526641728

In [3]:
trade_logs=[[100, -50, 200, -150, 300, -100],['BTC', 1.2,True]]    #homogeneous list of lists
for i in range(0,len(trade_logs)):
    print(trade_logs[i], end="  ")
    print(id(trade_logs[i]))

[100, -50, 200, -150, 300, -100]  2988657041152
['BTC', 1.2, True]  2988657033984

<h1> Traversing through the elements </h1>

In [ ]:
trade_logs = [[100,"BTC",110.9,True],200,300]
print(trade_logs[0][1])

#[0] refers to first element of trade_logs
#[1] refers to second element of trade_logs

#[0][1] refers to first element of trade_logs and then 
# second element of that first element

# print(trade_logs[-3][-3])

BTC

In [ ]:
print(trade_logs[-3][-3])

# [-3][-3] does the same as [0][1] because -3 refers to
# third element from last which is the first element in this case

BTC

<h3>SLICING

In [5]:
trade_logs = [[100,"BTC",110.9,True],200,300]
print(trade_logs[0][::2])  #slicing to get alternate elements from first element of trade_logs

[100, 110.9]

In [6]:
print(trade_logs[-3:-1])  #slicing to get first two elements of trade_logs])

[[100, 'BTC', 110.9, True], 200]

<h2>ADDING ELEMENTS TO THE LIST

In [9]:
n= int(input("Enter number of values to be appended to the list: "))
for i in range(n):
    value= int(input("Enter value to be appended: "))
    trade_logs.append(value)

print(trade_logs)

[[100, 'BTC', 110.9, True], 200, 300, '12', '21', '1', '2', '3', 12, 21, 31]

In [11]:
for i in range(3,8):
    trade_logs[i]= int(trade_logs[i])

print(trade_logs)

[[100, 'BTC', 110.9, True], 200, 300, 12, 21, 1, 2, 3, 12, 21, 31]

<h4>Extend() function

In [12]:
name="Atharva"
trade_logs.extend(name)
print(trade_logs)

[[100, 'BTC', 110.9, True], 200, 300, 12, 21, 1, 2, 3, 12, 21, 31, 'A', 't', 'h', 'a', 'r', 'v', 'a']

In [13]:
print(f"Length of trade_logs is: {len(trade_logs)}")

Length of trade_logs is: 18

In [14]:
trade_logs.insert(2, "Hello")
print(trade_logs)

[[100, 'BTC', 110.9, True], 200, 'Hello', 300, 12, 21, 1, 2, 3, 12, 21, 31, 'A', 't', 'h', 'a', 'r', 'v', 'a']

In [15]:
trade_logs[0].insert(0, "NVDIA")
print(trade_logs)

[['NVDIA', 100, 'BTC', 110.9, True], 200, 'Hello', 300, 12, 21, 1, 2, 3, 12, 21, 31, 'A', 't', 'h', 'a', 'r', 'v', 'a']

In [17]:
trade_logs.insert(0, "AMD")
print(trade_logs)

['AMD', 'AMD', ['NVDIA', 100, 'BTC', 110.9, True], 200, 'Hello', 300, 12, 21, 1, 2, 3, 12, 21, 31, 'A', 't', 'h', 'a', 'r', 'v', 'a']

In [19]:
# editing with slicing
trade_logs = [[100,"BTC",110.9,True],200,300]
trade_logs[0][:]=[300,"XRP",120,False]
print(trade_logs)

[[300, 'XRP', 120, False], 200, 300]

In [21]:
#indexing
trade_logs = [[100,"BTC",110.9,True],200,300]

del trade_logs[1]
print(trade_logs)

# slicing
trade_logs = [[100,"BTC",110.9,True],200,300]
del trade_logs[0][1:3]
print(trade_logs)

[[100, 'BTC', 110.9, True], 300]
[[100, True], 200, 300]

In [23]:
del trade_logs

print(trade_logs[0])  #this will give error as trade_logs is deleted

NameError: name 'trade_logs' is not defined

In [24]:
trade_logs = [[100,"BTC",110.9,True],200,300]
trade_logs[0].remove("BTC")
trade_logs

[[100, 110.9, True], 200, 300]

In [26]:
# clear
trade_logs = [[100,"BTC",110.9,True],200,300]
print(trade_logs)
trade_logs.clear()
print(trade_logs)

[[100, 'BTC', 110.9, True], 200, 300]
[]

<h3>Arithmetic operation on Lists

In [18]:
list1=[1,2,3]
list2=['a','b','c']

new_list= list1 + list2
print(new_list)

[1, 2, 3, 'a', 'b', 'c']

In [27]:
list1=[1,2,3]
list2=['a','b','c']

new_list= list1 * list2
print(new_list)

TypeError: can't multiply sequence by non-int of type 'list'

In [28]:
list1=[1,2,3]
list2=[4,5,6]

new_list= list1 * list2
print(new_list)

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
list1=[1,2,3]
list2=[4]

new_list= list1 * list2
print(new_list)

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
list1=[1,2,3]
list2=4

new_list= list1 * 2

print(new_list)

[1, 2, 3, 1, 2, 3]

In [34]:
list1=[1,2,3]
list2=0.5

new_list= list1 * list2

print(new_list)

TypeError: can't multiply sequence by non-int of type 'float'

<h4>Functions

In [35]:
# len/min/max/sorted

trade_logs = [[100,"BTC",110.9,True],200,300]
len(trade_logs)

trade_logs = [100,200,300]
min(trade_logs)
max(trade_logs)

sorted(trade_logs, reverse=True)

[300, 200, 100]

In [36]:

# count 

trade_logs = [100,200,300,100,200,300,100,200,300,100,200,300]
trade_logs.count(100)

4

In [37]:

# reverse
trade_logs = [100,200,300,100,200,300,100,200,300,100,200,300]
trade_logs.reverse()
trade_logs

# permanently reverses the list

[300, 200, 100, 300, 200, 100, 300, 200, 100, 300, 200, 100]

In [38]:
# sort (vs sorted)
trade_logs = [100,200,300,100,200,300,100,200,300,100,200,300]
sorted(trade_logs)
print(trade_logs)
trade_logs.sort()
print(trade_logs)

[100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300]
[100, 100, 100, 100, 200, 200, 200, 200, 300, 300, 300, 300]

In [39]:

# copy -> shallow
trade_logs = [100,200,300,100,200,300,100,200,300,100,200,300]
print(trade_logs)
print(id(trade_logs))
new_trade_logs = trade_logs.copy()
print(new_trade_logs)
print(id(new_trade_logs))

[100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300]
2988657123968
[100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300]
2988663806528

<h3>List Comnprehension

In [1]:
ls=[]
for  i in range(0,10):
    ls.append(i)

print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
ls_new= ls*1
print(len(ls_new))
print()
ls_new=[]

for i in ls:
    ls_new.append(i*3)

print(ls_new)

10

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [8]:
s=-3

[i*s for i in ls]

[0, -3, -6, -9, -12, -15, -18, -21, -24, -27]

In [11]:
sq=[]
for i in ls:
    sq.append(i**2)

print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
sq=[]
[i**2 for i in ls]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
ls=[]
for i in range(1,51):
    if i%5==0:
        ls.append(i)
print(ls)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [14]:
ls=[1,2,3,4]
ls2=[5,6,7,8]

zip_ls= list(zip(ls,ls2))
print(zip_ls)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [15]:
[ls2+ls for i,j in zip_ls]

[[5, 6, 7, 8, 1, 2, 3, 4],
 [5, 6, 7, 8, 1, 2, 3, 4],
 [5, 6, 7, 8, 1, 2, 3, 4],
 [5, 6, 7, 8, 1, 2, 3, 4]]

In [ ]:
ls=[1,2,3,4]
ls2=[5,6,7,8]

zip_ls= list(zip(ls,ls2))

[(i+j) for i,j in zip_ls]

TypeError: 'list' object is not callable