In [1]:
# empty
t1= ()
print(type(t1))
# create a tuple with a single item
t2 = ("Tuples",)
print(type(t2))
# homo
t2 = ("Tuples","BTC","ETH")
print(t2)
# hetero
t2 = (1,"BTC",1.5,True)
print(t2)
# tuple

# using type conversion
type(tuple("BTC"))

<class 'tuple'>
<class 'tuple'>
('Tuples', 'BTC', 'ETH')
(1, 'BTC', 1.5, True)

tuple

In [2]:
t2 = (1,"BTC",1.5,True)
t2[3]

t2[-3:-1]

('BTC', 1.5)

In [3]:
# immutable just like strings
t2 = (1,"BTC",1.5,True)

t2[1] = "Eth"

TypeError: 'tuple' object does not support item assignment

In [4]:
str="Ayan Banerji"
str[0] = "a"
print(str)

TypeError: 'str' object does not support item assignment

In [9]:
t2 = (1,"BTC",1.5,True)
print(t2)[1] = "Eth"
# not possible

(1, 'BTC', 1.5, True)

TypeError: 'NoneType' object does not support item assignment

In [10]:
t2 = (1,"BTC",1.5,True)

del t2
print(t2)

NameError: name 't2' is not defined

<h3>Operation on Tuples

In [11]:
# + and *
t2 = (1,"BTC",1.5,True)
t3 = (2,"ETH",2.5,False)
t2+t3

t2*2
# membership

"BTC" not in t2
# iteration

for i in t2:
    print(i)
for j in t3:
    print(j)

1
BTC
1.5
True
2
ETH
2.5
False

In [12]:
# len/sum/min/max/sorted
t2 = (1,"BTC",1.5,True)
t3 = (1,2,3,4)
sorted(t3,reverse=True)

[4, 3, 2, 1]

In [1]:
# count


t2 = (1,"BTC",1.5,True,1,"BTC",1.5,True,1,"BTC",1.5,True)
t2.count("BTC")

3

In [2]:

# index
t2 = (2,3,1,"BTC",1.5,True,1,"BTC",1.5,True,1,"BTC",1.5,True)
t2.index("BTC")

3

<h2>Difference between list and tuple

In [ ]:
import time
import sys

# Number of elements to use in lists and tuples
num_elements = 1000000

# Sample data generation
data = list(range(num_elements))

# Measure memory sizes
data_list = data[:]
data_tuple = tuple(data)

list_size = sys.getsizeof(data_list)
tuple_size = sys.getsizeof(data_tuple)

print(f"Size of the list: {list_size} bytes")
print(f"Size of the tuple: {tuple_size} bytes")

# Time measurement for creation
start_time = time.time()
data_list = list(range(num_elements))
end_time = time.time()
print(f"List creation time: {end_time - start_time} seconds")

start_time = time.time()
data_tuple = tuple(range(num_elements))
end_time = time.time()
print(f"Tuple creation time: {end_time - start_time} seconds")

# Time measurement for access
start_time = time.time()
for _ in range(1000000):
    _ = data_list[500000]
end_time = time.time()
print(f"List access time: {end_time - start_time} seconds")

start_time = time.time()
for _ in range(1000000):
    _ = data_tuple[500000]
end_time = time.time()
print(f"Tuple access time: {end_time - start_time} seconds")

# Time measurement for iteration
start_time = time.time()
for item in data_list:
    pass
end_time = time.time()
print(f"List iteration time: {end_time - start_time} seconds")

start_time = time.time()
for item in data_tuple:
    pass
end_time = time.time()
print(f"Tuple iteration time: {end_time - start_time} seconds")

# Time measurement for append (lists only)
start_time = time.time()
for _ in range(10000):
    data_list.append(100)
end_time = time.time()
print(f"List append time: {end_time - start_time} seconds")

# Time measurement for extend (lists only)
start_time = time.time()
data_list.extend(range(10000))
end_time = time.time()
print(f"List extend time: {end_time - start_time} seconds")
# Note: Tuples are immutable, so we cannot measure append/extend for tuples.

Size of the list: 8000056 bytes
Size of the tuple: 8000040 bytes
List creation time: 0.016097068786621094 seconds
Tuple creation time: 0.016889333724975586 seconds
List access time: 0.054012298583984375 seconds
Tuple access time: 0.04999995231628418 seconds
List iteration time: 0.019989490509033203 seconds
Tuple iteration time: 0.02300548553466797 seconds
List append time: 0.0029990673065185547 seconds
List extend time: 0.0009946823120117188 seconds

In [4]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:

a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [6]:
# tuple unpacking

date, open_price, high = ("2021-01-01", 100, 110)
#print(date, open_price, high)


date, open_price  = ("2021-01-01", 100)
#print(date, open_price)
# Wrong 

# Parsing Historical Trade Data

# Historical trade data
trade_data = [
    ("2021-01-01", 100, 110, 95, 105, 1500),
    ("2021-01-02", 106, 112, 100, 110, 2000),
    ("2021-01-03", 111, 115, 105, 113, 1800),
]

# Extract and print closing price and volume
for date, open_price, high, low, close, volume in trade_data:
    print(f"Date: {date}, Close: {close}, Volume: {volume}")

Date: 2021-01-01, Close: 105, Volume: 1500
Date: 2021-01-02, Close: 110, Volume: 2000
Date: 2021-01-03, Close: 113, Volume: 1800

In [7]:

a,b,*others = (1,2,3,4,6,7,8,9)
# print(a,b)
# print(others)

date, open_price, *others = ("2021-01-02", 106, 112, 100, 110, 2000)
print(date)
print(open_price)
print(*others)

2021-01-02
106
112 100 110 2000

In [9]:

# zipping tuples

trade_log  =  ("2021-01-02", 106)
trade_log1 =  ("2021-01-02", 106)

tuple(zip(trade_log,trade_log1))

(('2021-01-02', '2021-01-02'), (106, 106))